html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
button{
	width: 100px;
	height: 40px;
}
table,tr,td,th{
	border: 1px solid black;
	padding: 15px;
	border-collapse: collapse;
}
